body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
  }
body {
    background-image: url(../assets/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.Navigation {
    display: flex;
    align-items: center;
}

.Navigation h1 {
    font-size: 36px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}

.Navigation img {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.MainColumn {
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;    
    padding: 20px;
}

.MainColumn h1 {
    font-size: 34px;
    padding-bottom: 32px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}

.MainColumn p {
    font-size: 26px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3; /* Sesuaikan dengan kebutuhan Anda */
    height: 3.2em; /* 3 baris x ketinggian baris */
    overflow: hidden;
    text-align: center;
    width: 800px;
}

.start-button {
    margin-top: 90px;
    margin-right: 70px;
    margin-left: 70px;
    padding: 10px 0;
    width: 220px;
    height: 32px;
    background-color: rgba(217, 217, 217, 0.1);
    color: white;
    border: 1px solid #FAFAFA;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 32px;
}

.start-button:hover {
    background-color: #000;
}

.start-button:active {
    box-shadow: 0 5px #fff;
    transform: translateY(3px);
}

/* Styles untuk kontainer utama */
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navigasi{
    padding-right: 500px;
}